<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    id:
    <input type="text" name="suppierId" placeholder="请输入供应商ID" ><br>
    药品id：
    <input type="text" name="drupId" placeholder="请输入药品id" ><br>
    药品单价：
    <input type="text" name="price" placeholder="请输入药品单价" ><br>
    药品数量：
    <input type="text" name="amount" placeholder="请输入药品数量" ><br>
    用户id：
    <input type="text" name="userId" placeholder="请输入用户id" ><br>
    交易时间：
    <input type="text" name="time" placeholder="请输入交易时间" ><br>
    <input type="submit"  value="提交">


</form>
</body>
</html>